.footer {
    display: flex;
    justify-content: space-between;
    background-color: #273c75;
    width: 100%;
}

.logo {
    width: 100px;
    height: 40px;
}

.left {
    display: flex;
}

.year {
    font-size: 36px;
    // font-family: Courier;
}

.author {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    &:hover {
        color: #dba8b1;
    }
}

.authors {
    display: flex;
    gap: 10px;
    align-items:center
}



@media (max-width: 640px) {
    .footer {
        flex-direction: column;
    }
}